/* add css module styles here (optional) */

.cell {
  flex: 1;
  padding: 0px 0px 0px 16px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.cell > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}