/* add css module styles here (optional) */

.cell {
  flex: 1;
  padding: 0px 8px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.cellHover {
  background-color: #efefef;
}

.cellSelected {
  background-color: #cbe7ff;
}

.cell > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.nonePointerEvents { 
  pointer-events: none;
}

.sortBy {
  padding-right: 18px;
	position: relative;
  cursor: pointer;
  pointer-events: all;
}

.sortBy:before, .sortBy:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

.sortBy:before {
	border-bottom-color: #666;
	margin-top: -9px;
  opacity: 0.3;
}

.sortBy:after {
	border-top-color: #666;
	margin-top: 1px;
  opacity: 0.3;
}

.ascSort:before {
	opacity: 1 !important;
}

.descSort:after {
	opacity: 1 !important;
}